* {
	box-sizing: border-box;
	margin: 0px;
}

@font-face {
 font-family: 'MyWebFont';
  src: url('Futura.tff');
}

body {
  font-family: 'MyWebFont', Fallback, sans-serif;
  background: #E5E5E5;

}
.top-bar {
	background: #000000;
	height: 35px;
	width: 100%;
}

.top-bar-items {
	display: flex;
	margin-right: 50px;
	align-items: center;
		padding: 5px;
}

.warning-wrapper {
	color: #ffff;
	/*width: 90%;*/
	display: flex;
	flex: 2;
	justify-content: center;
/*	justify-content: right;*/
}

.warning-text {
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	margin: 5px;
}

.close-icon {
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: right;
	/*width: 0%;*/

}

.close-icon-left {
	position: relative;
	right: 18px;
	z-index: 20px;
}

nav {
	display: flex;
	align-items: center;
	height: 20vh;

}

.logo-container {
	width: 40%;
}

.logo {
	margin: 120px;
}

.navbar-items {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
	width: 90%;
}

.navbar-items li{
	font-size: 20px;
	font-weight: 600;
}

.nav-item {
	text-decoration: none;
	color: #000000;
}

.nav-btn {
	cursor: pointer;
	background: #ED1C24;
	color: #ffff;
	font-weight: 600;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border: 1px solid #ED1C24;
}

.nav-btn a {
	color: #ffff;
	text-decoration: none;

}

.nav-contact {
/*	display: inline-block;
	width: 20px;
	height: 20px;*/
	display: inline-block;
	width: 150px;
	font-weight: 400;
	font-size: 20px;
}